body {
  font-size: 16px;
  color: #ffffff;
  background-color: #669999;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/

#header-nav {
  background-color: #663366;
  border-radius: 0;
  border: 0;
}
div.navbar-header {
  border-bottom: 0;
}
.navbar-brand {
  padding-top: 0;
}
.navbar-brand h1 {
  color: #ffffff;
  font-size: 40px;
  margin-top: 0;
  padding-bottom: 20px;
}


/**** MAIN CONTENT****/
div.container {
  padding: 0;
  width: 98%;
}

div h2 {
  font-size: 25px;
  margin-top: 10px;
}
div h3 {
  font-size: 20px;
  padding-bottom: 10px;
}
div.box {
 background-color: #666699;
 padding-right: 20px;
 padding-left: 20px;
 
}

div#BTP a {
  background-color: green;
  color: #ffffff;
}

div.col-lg-4.col-md-6, div.col-lg-4.col-md-12 {
  padding-top: 15px;
  padding-bottom: 15px;

}

div.box {
  padding-top: 10px;
  padding-bottom: 20px;
}


/********** Large devices only **********/
@media (min-width: 1200px) {
div.container {
  padding: 0;
  width: 97%;
}

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
div.container {
  padding: 0;
  width: 95%;
}

 
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
div.col-lg-4.col-md-6, div.col-lg-4.col-md-12 {
  margin-right: 20px;
  margin-left: 20px;
}

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
div #collapsable-nav {
  background-color: green;  
  overflow: hidden;
}
#nav-list li a:hover {
  font-size: 25px;
  color: solid black;
 }
hr {
  margin-bottom: 0;
}
.navbar-default .navbar-nav li a {
  color: #1d0209;
}
ul#nav-list.nav.navbar-nav.navbar-right {
  margin-bottom: 0;
  margin-top: 0;
}
div.col-lg-4.col-md-6, div.col-lg-4.col-md-12 {
  margin-right: 20px;
  margin-left: 20px;
}

}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
 div #collapsable-nav {
  background-color: green;
  overflow: hidden;
}
  #nav-list li a:hover {
  font-size: 25px;
  color: solid black;
}
hr {
  margin-bottom: 0;
}
.navbar-default .navbar-nav li a {
  color: #1d0209;
}
ul#nav-list.nav.navbar-nav.navbar-right {
  margin-bottom: 0;
  margin-top: 0;
}

div.col-lg-4.col-md-6, div.col-lg-4.col-md-12 {
  margin-right: 20px;
  margin-left: 20px;
}

}

